* { 
    box-sizing: border-box;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

@media only screen and (max-width: 768px) {
    .herobanner {
        flex-direction: column;
        text-align: center;
    }

    .hero_left .logo {
        width: 70px;
    }

    .hero_center .slideshow {
        display: none;
    }

    .hero_right .account_currency_wrapper {
        justify-content: center;
    }

    .hero_right .shoppingcart_wishlist_wrapper {
        justify-content: center;
    }



    .usps {
        display: none;
    }
    
    .footer_wrapper {
        flex-direction: column;
    }

    .footer_socials li {
        display: inline-block;
    }
}

body {
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
}

.page_wrapper {
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.icons {
    height: 20px;
    width: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 15px;
}

h3 {
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
}

.brsmall { 
    display: block; 
    margin-bottom: 0.5em; 
}

.arrow {
    border-style: solid;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin: 1px;
}

.right {
    transform: rotate(-45deg);
}

.down {
    transform: rotate(45deg);
}

.dropdown {
    overflow: hidden;
}

.show_all {
    color: inherit;
    font-weight: bold;
    font-size: inherit;
    text-decoration: underline;
}

.slideshow {
    overflow: auto;
    white-space: nowrap;
}

header {
    background-color: #334756;
}

.herobanner {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.logo { 
    width: 150px;
}

.hero_center {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero_center .slideshow {
    width: 280px;
    background-color: #334756;
}
  
.hero_center .slideshow img {
    height: 100px;
    width: 280px;
}

.hero_center input,
.community_search input {
    width: 280px;
    padding: 6px;
    margin-bottom: 10px;
    border: none;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    background-color: #fff;
    background-image: url("../img/search.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 20px 20px;
}

.hero_right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    font-family: "Pacifico";
    color: #f1947e;
}

.hero_right a {
    color: #f1947e;
    margin: 5px;
}

.account_currency_wrapper {
    width: 100%;
    margin-bottom: 10px;
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.account_hero {
    display: flex;
    flex-wrap: nowrap;
    justify-content: baseline;
    align-items: center;
    margin-right: 10px;
}

.account_hero a:hover {
    text-decoration: none;
}

.shoppingcart_wishlist_wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.shoppingcart_wishlist_wrapper .icons {
    height: 30px;
    width: 30px;
}

.usps {
    background-color: #f1947e;
    width: 100%;
    font-size: 15px;
    font-family: "Pacifico";
}

.usps ul {
    display: flex;
    justify-content: center;
}

.usps li {
    margin-top: 5px;
    margin-bottom: 5px;
}

.usps li:not(:last-child):after {
    content: "|";
    padding: 10px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
}

.topnav {
    overflow: hidden;
    font-size: 15px;
    background-color: #334756;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topnav a {
    padding: 14px 16px;
}

.topnav .dropdown_button {
    background-color: #334756;
    color: #f1947e;
    padding: 14px 16px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.topnav .dropdown:hover .dropdown_button, 
.dropdown .dropdown_content a:hover, 
.dropdown_item:hover {
    text-decoration: underline;
}

.topnav .dropdown_item:hover:has(.dropdown_submenu) {
    background-color: #f1947e;
}

.topnav .dropdown:hover .dropdown_content, 
.dropdown_item:hover .dropdown_submenu {
    display: block;
}

.topnav .dropdown_content {
    display: none;
    position: absolute;
    background-color: #eedc82;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0 0 0 / 20%);
    z-index: 1;
    font-size: 15px;
    cursor: pointer;
}

.topnav .dropdown_content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnav .dropdown_submenu {
    display: none;
    position: absolute;
    left: 160px;
    top: 0px;
    min-width: 160px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0 0 0 / 20%);
    cursor: pointer;
}

.topnav .dropdown_content .dropdown_item {
    color: black;
    padding: 12px 16px;
    display: block;
    text-align: left;
}

.topnav .menu_chevron {
    float: right;
    margin: -2px 0 0 0;
    display: block;
    font-weight: 700;
}

.menu_burger {
    width: 35px;
    height: 5px;
    background-color: #f1947e;
    margin: 6px 0;
}

.menu_x {
    font-size: 24px;
    color: #f1947e;
    font-weight: bold;
}

main {
    background-color: rgba(238 220 130 / 50%);
    padding: 20px;
    min-height: 100vh;
}

.community_banner {
    background-color: rgba(241 148 126 / 50%);
    padding: 50px;
    text-align: left;
}

.banner_hl {
    font-family: "Pacifico";
    font-size: 24px;
}

.card {
    width: 200px;
    height: 100px;
    margin: 20px;
    background-color: rgba(241 148 126 / 50%);
    border-radius: 10px;
    border: solid #334756;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card h2,
.card p {
    margin: 0;
}

.community_activities {
    margin-top: 20px;
}

.community_activities table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.community_activities th, 
.community_activities td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.community_activities th {
    background-color: #f2f2f2;
}

footer {
    background-color: #334756;
    padding: 20px;
    font-size: 12px;
    color: #f1947e;
}

.footer_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer_wrapper li {
    text-indent: 1em;
}

.footer_wrapper a {
    text-decoration: none;
    font-size: 12px;
    color: #eedc82;
}

.copyright {
    float: right;
}




.banner {
    grid-column: span 2;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.topics {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.topic-card {
    background-color: #f4f4f4;
    padding: 20px;
}

.discussion-button {
    grid-column: 2 / span 2;
    justify-self: end;
    margin-top: 10px;
}

.announcements {
    grid-column: 2 / span 2;
    margin-top: 20px;
}

.activities {
    grid-column: span 2;
    margin-top: 20px;
}

